/* navbar css start */

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

option {
    background-color: white;
    color: #0046be;
}

select {
    cursor: pointer;
}

/* First div */

#main {
    height: 70px;
    width: 100%;
    background-color:
        #0046be;
    display: flex;
    align-items: center;
    position: relative;
}

#main>img:first-child {
    height: 90%;
    margin-left: 1.5%;
    cursor: pointer;
}

#main>img:nth-child(2) {
    position: absolute;
    left: 11%;
    height: 30px;
    cursor: pointer;
}

#main>div>img {
    height: 55%;
}

#main>div {
    display: flex;
    align-items: center;
    background-color: white;
    height: 57%;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

input {
    height: 60%;
    width: 35%;
    padding-left: 1%;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #0046be;
    border-right: white;
    margin-left: 2%;
}

#main>select {
    background-color: #0046be;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #0046be;
    margin-left: 4%;
    width: 6%;
}

#main>p {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#main>p:nth-child(7) {
    margin-left: 25%;
    cursor: pointer;
}

#main>img:nth-child(8) {
    margin-left: 25%;
    height: 80%;
    position: absolute;
    right: 5.5%;
    cursor: pointer;
}

#main>p:last-child {
    margin-left: 7%;
    cursor: pointer;
}

#main>p:last-child:hover {
    text-decoration: underline;
}

#main>img:nth-child(6) {
    margin-left: 10%;
    height: 100%;
    position: absolute;
    right: 16%;
    cursor: pointer;
}

/* Second div  */

#buttons {
    height: 50px;
    width: 100%;
    border-top: 0.5px solid #1e88e5;
    background-color: #0046be;
    display: flex;
    justify-content: space-between;
}

#buttons>div {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
}

#buttons>div:first-child {
    width: 52%;
    justify-content: space-around;
    margin-left: 2%;
}

#buttons>div:last-child {
    width: 35%;
    justify-content: space-between;
    margin-right: 2.5%;
}

#buttons select {
    background-color: #0046be;
    color: white;
    font-size: 14px;
    border: 0px;
}

#buttons p {
    cursor: pointer;
}

#buttons P:hover {
    text-decoration: underline;
}

/* Medium screen  */

@media all and (min-width:768px) and (max-width:1023px) {

    /* First div  */
    #main>img:nth-child(2) {
        left: 15%;
    }

    #main>select {
        width: 32%;
    }

    input {
        width: 55%;
    }

    #main>img:nth-child(6) {
        right: 23%;
    }

    #main>p:nth-child(7) {
        margin-right: 1%;
        margin-left: 15%;
    }

    #main>img:nth-child(8) {
        right: 9%;
    }

    #main>p:last-child {
        margin-right: 2%;
    }

    /* Second div  */
    #buttons>div {
        font-size: 12px;
    }

    #buttons select {
        font-size: 10px;
    }

    #buttons>div:last-child {
        width: 45%;
        margin-right: 0.5%;
    }

    #buttons>div:first-child {
        width: 48%;
        margin-left: 0.5%;
    }
}

/* Small screen */

@media all and (min-width:340px) and (max-width:767px) {

    .other {
        width: 0%;
        height: 0%;
        font-size: 0px;
    }

    /* First div  */
    #main>img:first-child {
        margin-left: 0%;
    }

    #main>img:nth-child(2) {
        width: 0%;
        height: 0%;
    }

    #main>select {
        width: 32%;
        font-size: 16px;
    }

    input {
        width: 37%;
        border-radius: 5px;
    }

    #main>img:nth-child(6) {
        height: 0%;
    }

    #main>p:nth-child(7) {
        font-size: 0px;
        margin: 0%;
    }

    #main>img:nth-child(8) {
        right: 10%;
    }

    #main>p:last-child {
        margin-right: 1%;
        font-size: 16px;
    }

    /* Second div  */
    #buttons>div:last-child {
        width: 23%;
        margin-right: 1%;
    }

    #buttons>div:first-child {
        width: 40%;
        margin-left: 0.5%;
    }

    #main>div {
        width: 0%;
        height: 0%;
    }
}