*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#main > option , #buttons > option{
    background-color: white;
    color: #0046be;
}
#main > select, #buttons > select{
    cursor: pointer;
}

/* First div */

#main{
    height: 70px;
    width: 100%;
    background-color: 
    #0046be;
    display: flex;
    align-items: center;
}
#main > img:first-child{
    height: 90%;
    margin-left: 1.5%;
    cursor: pointer;
}
#main > img:nth-child(2){  
    height: 30px;
    cursor: pointer;
    margin-left: 2%;
}
#main > div > img{
    height: 55%; 
}

#main > div{
    display: flex;
    align-items: center;
    background-color: white;
    height: 57%;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#main > input{
    height: 60%;
    width: 35%;
    padding-left: 1%;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #0046be;
    border-right: white;
    margin-left: 2%;
}
#main > select{
    background-color: #0046be;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #0046be;
    width: 6%;
}
#main > p{
    color: white;
    font-size: 24px;
    font-weight: bold;
}
#main > p:nth-child(7){
    cursor: pointer;
}
#main > img:nth-child(8){
    height: 80%;
    cursor: pointer;
    margin-left: 3%;
}
#main > p:last-child{
    cursor: pointer;
    margin-right: 1%;
}
#main > p:last-child:hover{
    text-decoration: underline;
}
#main > img:nth-child(6){
    height: 100%;
    cursor: pointer;
    margin-left: 18%;
}

/* Second div  */

#buttons{
    height: 50px;
    width: 100%;
    border-top: 0.5px solid 
    #1e88e5;
    background-color: #0046be;
    display: flex;
    justify-content: space-between;
}
#buttons > div{
    display: flex;
    align-items: center;
   color: white;
   font-size: 14px;
}
#buttons > div:first-child{
   width: 52%;
   justify-content: space-around;
   margin-left: 2%;
}
#buttons > div:last-child{
    width: 35%;
    justify-content: space-between;
    margin-right: 2.5%;
}
#buttons select{
    background-color: #0046be;
    color: white;
    font-size: 14px;
    border: 0px;
}
#buttons p{
    cursor: pointer;
}
#buttons P:hover{
    text-decoration: underline;
}

/* Medium screen  */

@media all and (min-width:768px) and (max-width:1023px){

    /* First div  */
    #main > input{
        width: 20%;
    }
    #main > select{
        font-size: 18px;
        width: 12%;
    }
    #main > img:first-child{
        margin-left: 0.5%;
    }
    #main > img:nth-child(2){  
        margin-left: 0.5%;
    }
    #main > img:nth-child(6){
        margin-left: 3%; 
    }
    #main > img:nth-child(8){
        margin-left: 1%;
    }
    /* Second div  */
    #buttons > div{
       font-size: 12px;
    }
    #buttons select{
        font-size: 10px;
    }
    #buttons > div:last-child{
        width: 45%;
        margin-right: 0.5%;
    }
    #buttons > div:first-child{
        width: 48%;
        margin-left: 0.5%;
     }
}

/* Small screen */

@media all and (min-width:340px) and (max-width:767px){

    #main > .other, #buttons > .other{
        width: 0%;
        height: 0%;
        font-size: 0px;
        font-size: 0%;
     }

    /* First div  */
    #main > select{
        font-size: 18px;
        width: 30%;
        margin-left: 0%;
    }
    #main > input{
        width: 60%;
    }
    #main > p:nth-child(7){
        font-size: 0px;
        margin: 0%;
    }
    #main > img:nth-child(6){
        margin-left: 0%; 
    }
    #main > img:nth-child(8){
        margin-left: 0%;
    }

    /* Second div  */
    #buttons > div:last-child{
        width: 35%;
        margin-right: 1%;
    }
    #buttons > div:first-child{
        width: 50%;
        margin-left: 0.5%;
    }  
    #main > div{
        width: 0%;
        height: 0%;
    }
}