/* commit */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

/* Navbar Styling */

nav {
  background-color: #0046be;
  height: 80px;
  display: flex;
  justify-content: space-around;
  color: white;
  position: static;
}
nav > div {
  display: flex;
  align-items: center;
}
nav > div > a > img {
  height: 60px;
  margin-right: 10px;
}
nav > div + div > a {
  text-decoration: none;
  color: white;
}
nav > div + div > a:hover {
  text-decoration: underline;
}
nav > div > p {
  font-size: 35px;
}
.mt{
  margin-top: 10px;
}
.mb{
  margin-bottom: 10px;
}
/* Navbar Styling */

/* Main page styling */
main>h1{
  margin-top: 15px;
  margin-bottom: 10px;
}

body {
  background-color: #f0f2f4;
}

main {
  width: 70%;
  margin: auto;
}

#container {
  display: flex;
  justify-content: space-between;
}

#container > div:first-child {
  margin-top: 10px;
  width: 60%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#container > div:last-child {
  margin-top: 10px;
  width: 38%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#container > div:last-child > div {
  width: 90%;
  margin: auto;
  padding: 10px;
}

#container > div > div {
  width: 95%;
  margin: auto;
  padding: 10px;
}

#responsiveDiv > div {
  display: flex;
}

#responsiveDiv > div > img {
  width: 10%;
  margin-right: 10px;
}

.iconimage {
  height: 30px;
  width: 30px;
}

.margin_set {
  margin-top: 0px;
  margin-bottom: 10px;
}

input {
  margin-top: 10px;
  padding: 10px;
}

#redirect {
  width: 65%;
  margin-top: 35px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#redirect > div {
  width: 90%;
  margin: auto;
}

#redirect > div > h4 {
  margin-bottom: 0px;
}

#redirect > div > h2 {
  padding-top: 10px;
}

#redirect > div > input {
  width: 90%;
}

button {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  background-color: rgb(33, 67, 221);
  color: white;
  border: none;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #073788e5;
}

#summary>div>h4{
    margin-bottom: 0px;
}
#summary>div>p{
    margin-top: 0px;
}

#responsiveness>div{
    display: flex;
}

#responsiveness>div>p{
  margin-left: 5px;
  margin-right: 13%;
  font-size: 12px;
  width: 40%;
}

#responsiveness>div>img{
  width: 20%;
  margin-left: 0px;
  margin-right: 10px;
}

#responsiveness>div>div>p{
  font-size: 14px;
}

#responsiveness>div>div>p:last-child{
  color: blue;
}

#responsiveness>div>div>p:last-child:hover{
  cursor: pointer;
  text-decoration: underline;
}

#referal{
    width: 90%;
}

#referalBtn{
    margin-top: 5px;
}
#total{
    display: flex;
    justify-content: space-between;
}

#referalAndSaving>h3{
    color: green;
}
#savings{
    color: rgb(25, 228, 10);
}

#responsiveness>div>span{
  color: black;
  text-decoration: none;
}
/* Main page styling */

/* footer styling */
footer {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 60px;
  padding: 10px;
}
#footer {
  width: 80%;
  margin: auto;
  font-size: 13px;
  /* padding: 10px; */
}
span {
  color: blue;
}
span:hover{
  cursor: pointer;
  text-decoration: underline;
}

a{
  color: blue;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

/* footer styling */


/* Media queries */

@media all and (min-width: 790px) and (max-width: 865px){
  #total{
    font-size: 15px;
  }
}

@media all and (max-width: 790px){
  #container{
    display: block;
  }
  #container > div:last-child{
    width: 95%;
  }
  #container > div:first-child{
    width: 95%;
  }
  #redirect{
    width: 95%;
  }
}

@media all and (min-width: 320px) and (max-width: 536px){
  #container{
    display: block;
  }
  #container > div:last-child{
    width: 95%;
  }
  #container > div:first-child{
    width: 95%;
  }
  #redirect{
    width: 95%;
  }
}

@media all and (min-width: 320px) and (max-width: 420px){
  #total{
    font-size: 10px;
  }
}
